<div id="<%= dom_id calendar_link %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Link name:</strong>
    <%= calendar_link.link_name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Link url:</strong>
    <%= calendar_link.link_url %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this calendar link", calendar_link, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this calendar link', edit_calendar_link_path(calendar_link), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
