<!DOCTYPE html>
<html>
  <head>
    <title>Double Up</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="flex flex-col h-screen justify-between">
      <header class="h-8 m-2 flex flex-row-reverse">
        <%= link_to "Log out", log_out_path, data: { "turbo-method": :delete }, class: "" %>
      </header>
      <main class="container mx-auto my-8 px-5 flex flex-grow">
        <%= yield %>
      </main>
      <footer class="flex flex-row space-x-5 justify-center my-8">
        <%= link_to "Recent Matches", recent_matches_path, class: "text-sm text-blue-600 hover:underline hover:underline-offset-2" %>
        <%= link_to "Calendar Links", calendar_links_path, class: "text-sm text-blue-600 hover:underline hover:underline-offset-2" %>
        <% if @current_user %>
          <%= link_to "Your Profile", profile_path(@current_user.slack_user_id), class: "text-sm text-blue-600 hover:underline hover:underline-offset-2" %>
        <% end %>
      </footer>
    </div>
  </body>
</html>
